projeto de atendimento e agendamento-n8n.json
{
  "name": "projeto de atendimento e banco de dados",
  "nodes": [
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Dados').item.json.Instance }}",
        "messageId": "={{ $('Dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2704,
        4464
      ],
      "id": "5a0243cc-ba5b-45bf-8b18-5aa4d4debf1e",
      "name": "Obter m dia em base",
      "credentials": {
        "evolutionApi": {
          "id": "0eDWPiJi0zFQIXxh",
          "name": "Vantara"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $json.memory_message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -304,
        4128
      ],
      "id": "8586f7f5-d640-44e2-a08f-670e33cb712d",
      "name": "Chat Memory Manager2"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $json.memory_message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -304,
        4288
      ],
      "id": "1f0767fd-d315-4255-acc0-c76b64bf9fed",
      "name": "Chat Memory Manager3"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -112,
        4480
      ],
      "id": "ef966360-3de3-4f81-b76c-464126ea612c",
      "name": "Wait1",
      "webhookId": "c052302b-b007-4888-9438-77ebff23c9e8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7cbd751-5c5d-4bdf-a8ca-5e4ffeed8762",
              "name": "message",
              "value": "={{ $('recuperar buffer de mensagens').item.json.Messages.join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        4464
      ],
      "id": "12f49a33-c323-4744-bb9c-ed1f671dbc89",
      "name": "mensagem final1"
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2704,
        4224
      ],
      "id": "f25ebf28-8e80-476d-832e-90e7e9d2e4af",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "content": "recebimento de menssagem e audio **Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2768,
        4096
      ],
      "id": "cff3a121-90a6-4e2e-bb58-b4ef111caebb",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "memoria\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 3088,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        4096
      ],
      "id": "8562bd67-fc74-477c-9dbf-684a41a6a96c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "ENVIO DE IMAGEM \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 400,
        "width": 1408,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        4096
      ],
      "id": "6ab98d77-7090-4a13-98b7-1ceba0e662c1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "atendimento da IA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 992,
        "width": 1056,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        4096
      ],
      "id": "9880a5b6-2167-489c-849d-f54e00ac14f2",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.Instance }}_{{ $('Dados').item.json.RemoteJid }}",
        "sessionTTL": 3600,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        208,
        4176
      ],
      "id": "a4c1f48b-0128-48d8-bc80-e2f47b6f3656",
      "name": "memoria1",
      "credentials": {
        "redis": {
          "id": "W4QTOacErHmTf2bI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "tradutor de audio \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 224,
        "width": 912,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2752,
        4400
      ],
      "id": "3ac6352f-1454-4b13-a50c-4a87f824699d",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "392d5313-011c-4889-8c74-7db8b1659b39",
              "name": "memory_message",
              "value": "={{ $json.message || $json.Message || $json.conversation || $json.body?.data?.message?.conversation || $json.body?.data?.message?.text || $json.text || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        4128
      ],
      "id": "2badde8d-fb23-4edb-a97b-a90e22c503cc",
      "name": "Prepare Memory Block1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8bd7f36-0b02-4a42-891a-d3f8de2e54ea",
              "name": "Iso completo ",
              "value": "={{new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })).toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        4464
      ],
      "id": "ef307e6a-10db-401f-936a-2a9515ea6d76",
      "name": "estrutura tudo1"
    },
    {
      "parameters": {
        "content": "Envio final\n",
        "height": 192,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        4304
      ],
      "id": "3d4f5451-41c9-4e8c-95c2-6e4fa2c20586",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1744,
        4464
      ],
      "id": "5e23513e-5105-4f32-8437-43ebebcaaabf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "snH67m4p5ciM2kmx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1680,
        4880
      ],
      "id": "b2133bb8-6218-48cf-abab-a328369652f1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "snH67m4p5ciM2kmx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Dados').item.json.conversation }} {{ $('mensagem final1').item.json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1856,
        4272
      ],
      "id": "4c21fb3f-7b93-4454-b7ba-f0634af54dbb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Filter to return only the first item from the array\nconst items = $input.all();\nif (items.length > 0) {\n  return [items[0]];\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        4464
      ],
      "id": "6c02f3aa-bb1e-4879-9c97-45692df4a0b9",
      "name": "Unico resultado - usado para testes"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=rate:{{ $('Dados').item.json.From }}",
        "expire": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1440,
        4320
      ],
      "id": "bc26cdde-9e34-4f48-9209-c228a12bfef4",
      "name": "RATE LIMIT - Increment",
      "credentials": {
        "redis": {
          "id": "W4QTOacErHmTf2bI",
          "name": "Redis account"
        }
      },
      "notes": "Incrementa contador de mensagens por minuto para o nÃƒÂºmero do cliente"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.Instance }} {{ $('Dados').item.json.RemoteJid }} block",
        "value": "true",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -912,
        4128
      ],
      "id": "c396ecbd-ac45-4e2e-8ee1-5f43b6a04702",
      "name": "ativar bloqueio temporario",
      "credentials": {
        "redis": {
          "id": "W4QTOacErHmTf2bI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Dados').item.json.Instance }} {{ $('Dados').item.json.RemoteJid }} block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1056,
        4464
      ],
      "id": "0ff87460-19e6-4c9f-b01b-4626504df0b4",
      "name": "consultar bloqueio temporario",
      "credentials": {
        "redis": {
          "id": "W4QTOacErHmTf2bI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5be18f4d-f9f3-456a-9f95-2df29b0b65e4",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b89b0a29-b753-412c-afc5-8736a7425397",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        4464
      ],
      "id": "b5880902-1f64-4383-aa61-afaa79307ee2",
      "name": "bloqueio temporario existe?"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.Instance }} {{ $('Dados').item.json.RemoteJid }} temp",
        "messageData": "={{ $('Message').item.json.message }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -352,
        4480
      ],
      "id": "7ef1ead3-0f08-43f9-bafd-7eb54772b7c6",
      "name": "Armazenar mensagem no buffer",
      "credentials": {
        "redis": {
          "id": "W4QTOacErHmTf2bI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Messages",
        "key": "={{ $('Dados').item.json.Instance }} {{ $('Dados').item.json.RemoteJid }} temp",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        112,
        4480
      ],
      "id": "3a009d43-cf9a-4583-aa8c-22e517dfd676",
      "name": "recuperar buffer de mensagens",
      "credentials": {
        "redis": {
          "id": "W4QTOacErHmTf2bI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6f8ae9f-ac56-4404-b75a-8355403bc67c",
              "leftValue": "={{ $json.Messages.last() }}",
              "rightValue": "={{ $('Message').item.json.message }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        4480
      ],
      "id": "f71b84e8-8d40-4246-9725-8741eb6fff68",
      "name": "if"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.Instance }} {{ $('Dados').item.json.RemoteJid }} temp"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        944,
        4464
      ],
      "id": "226522b9-2cf5-47f4-a307-280297a17b32",
      "name": "limpar buffer temporario",
      "credentials": {
        "redis": {
          "id": "W4QTOacErHmTf2bI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9201ef6b-a1ea-4dd1-8f59-f84a0c0ff064",
              "leftValue": "={{ $json.Resposta }}",
              "rightValue": "MEDIA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2896,
        4240
      ],
      "id": "3dd7d38d-15a7-470a-a362-2ac895dfd0e9",
      "name": "solicitação de midia?",
      "notes": "Não passar a informação de média"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86b54b24-53c0-4736-83e1-6d4285f3f039",
              "name": "driveFileId",
              "value": "={{ \"https://drive.google.com/file/d/11xS7ZgLAKW5TKepUSDR9Z7ynDiafdteV/view?usp=sharing\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        4144
      ],
      "id": "a86aa97d-9701-42db-ba5e-3d4cf2363ac2",
      "name": "definir arquivo de midia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3344,
        4336
      ],
      "id": "219c66f2-2f91-4f53-a5b0-bf9c78fee299",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.ServerUrl + '/message/sendMedia/' + encodeURIComponent($('Dados').item.json.Instance) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Dados').item.json.RemoteJid.replace('@s.whatsapp.net','') }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "caption"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        4320
      ],
      "id": "f1b72c95-fde8-4544-ae97-628e90fc707d",
      "name": "Enviar Imagem"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "11xS7ZgLAKW5TKepUSDR9Z7ynDiafdteV",
          "mode": "list",
          "cachedResultName": "TABELA DE PREÇO.jpg",
          "cachedResultUrl": "https://drive.google.com/file/d/11xS7ZgLAKW5TKepUSDR9Z7ynDiafdteV/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        3568,
        4144
      ],
      "id": "c2091d49-6778-4ba6-b37f-0d814c5e9509",
      "name": "Google Drive Download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ENvWgZkLspwQ1DBv",
          "name": "CONTA TESTE DRIVE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let item of items) {\n  item.json.text = 'Aqui está a nossa tabela de preços';\n  delete item.json.media;\n  delete item.json.mediaUrl;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        4144
      ],
      "id": "54e98b6c-a3dd-471a-90fe-f283eb2a8d37",
      "name": "Mensagem da imagem"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3344,
        4144
      ],
      "id": "2c3bdec6-cc55-4404-a694-1fb6bb0672f8",
      "name": "timer",
      "webhookId": "e686e2db-0098-4337-8fd5-15580d0ce0e2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Dados').item.json.Instance }}",
        "remoteJid": "={{ $('Dados').item.json.From }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {
          "delay": 3000,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3120,
        4336
      ],
      "id": "180cc23c-5456-4ad8-aabe-456f41ae299d",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "0eDWPiJi0zFQIXxh",
          "name": "Vantara"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93c09d16-5524-4721-8c8d-621e99caa0b6",
              "name": "Instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "8b106261-8a24-4324-a2a7-9b5b09cf967a",
              "name": "From",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "73e539ba-c8c8-4de3-9aa6-3f389ac94559",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "4261742d-6b19-4695-ac72-254cbddc3062",
              "name": "FromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "string"
            },
            {
              "id": "f3ab762b-daf3-4646-8b94-98d52bb761fd",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "217bd4c1-261e-488e-bb02-08a2abaf9e0f",
              "name": "MessageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "2db70699-9295-465f-89e5-5ab6daaa9c75",
              "name": "PushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "02d6d336-a37d-4e4c-805c-2b4a068fbdd7",
              "name": "ServerUrl",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "fix-remotejid-alias",
              "name": "RemoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2464,
        4192
      ],
      "id": "9278cbea-64f2-4bb6-87bb-2152f8711953",
      "name": "Dados"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2480,
        4464
      ],
      "id": "efe7b8e8-9a7a-4046-ab8a-25157983469b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "temperature",
              "value": "0"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        4464
      ],
      "id": "82a1ea39-3df6-4fba-a543-cfc149d87a9d",
      "name": "HTTP Request",
      "credentials": {
        "groqApi": {
          "id": "ITBVF14Ck0JhZTwH",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1944d0f-7b29-4b84-a312-9160b6fc46ef",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2032,
        4464
      ],
      "id": "c7335cbb-c760-4368-829a-47ca35254cbe",
      "name": "Set Audio Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "895a52af-11d1-42f9-8854-de22a7d8deed",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1712,
        4320
      ],
      "id": "e15938d1-df8a-4cef-b39f-a55f610b3d2f",
      "name": "Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bf2a2ab-b9e9-4b76-803d-2cf515714155",
              "name": "message",
              "value": "={{ $('Dados').item.json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1984,
        4176
      ],
      "id": "4653dcc3-a057-4f1c-bc8c-cf6d9553e674",
      "name": "Set Text Message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.MessageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9059f59d-a58c-4328-8639-485cb2878abf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "458d66a7-e0f9-411a-b4f1-86a3030c5912",
                    "leftValue": "={{ $json.MessageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2240,
        4192
      ],
      "id": "b8b15079-1773-4d20-8ab7-78b2c6e444bb",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Evolution_Test",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2688,
        4192
      ],
      "id": "badd9308-95cb-43ad-ae04-64e749e12b60",
      "name": "Webhook",
      "webhookId": "9f7ad151-0ac9-4f81-a429-d4bd28dba16f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc2a38b0-e749-4301-975f-e6a33a8727d9",
              "leftValue": "={{ $('Dados').item.json.FromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1232,
        4320
      ],
      "id": "ce792cbd-1363-4e81-92f0-4873ee5930cd",
      "name": "mensagem enviada pelo bot?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b7e6d68-f9ff-4d38-ac78-8616beebca29",
              "name": "memory_message",
              "value": "={{ $json.message || $json.Message || $json.conversation || $json.body?.data?.message?.conversation || $json.body?.data?.message?.text || $json.text || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        4464
      ],
      "id": "38d14d73-6ebe-43bb-8c06-589a3b69da5e",
      "name": "Prepare Memory Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1de086e0-a7a5-4727-a003-c3be07cb825f",
              "name": "Resposta",
              "value": "={{ $input.first().json.output }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        4272
      ],
      "id": "70e0a083-2a32-44a6-8331-575246684873",
      "name": "preparar resposta do agente"
    },
    {
      "parameters": {
        "toolDescription": "Faz agendamento e verifica se tem horario livre pra agenda",
        "text": "=Você é o agente de agendamento da Barbearia Novo Visual.\n\nVocê não conversa livremente com o cliente.\nVocê executa lógica de agenda com precisão e segurança.\n\nFUNÇÃO PRINCIPAL\n\nReceber do Agente A:\n\nmensagem original do cliente\n\nnome\n\ntelefone\n\nserviço (se informado)\n\nconfirmação explícita do cliente\n\nSua responsabilidade:\n\nExtrair corretamente data e horário.\n\nConverter para ISO 8601 com fuso -03:00 (se não informado).\n\nDefinir:\n\nStart\n\nEnd (sempre 2 horas após Start)\n\nVerificar disponibilidade.\n\nRegistrar ou não registrar o agendamento.\n\nRetornar resultado estruturado.\n\nVocê decide agenda.\nVocê não mantém conversa social.\n\nFORMATO OBRIGATÓRIO DE EXTRAÇÃO\n\nSempre gerar:\n\n{\n\"Start\": \"ISO 8601 com fuso\",\n\"End\": \"ISO 8601 com fuso (2 horas após Start)\"\n}\n\nRegras:\n\nEnd = exatamente 2 horas após Start.\n\nSe não houver fuso → usar -03:00.\n\nNunca inventar data.\n\nSe a data estiver ambígua → retornar erro estruturado.\n\nFERRAMENTAS DISPONÍVEIS\nverificaAgendamento\n\nFunção:\nConsultar eventos existentes entre Start e End.\n\nSempre usar antes de registrar.\n\nNunca pular essa etapa.\n\nregistraAgendamento\n\nUsar somente se:\n\nHorário estiver livre\n\nConfirmação explícita do cliente for true\n\nNunca registrar sem confirmação.\n\ndeletaAgendamento\n\nUsar somente quando:\n\nPedido explícito de cancelamento\n\nData e horário confirmados\n\nRegistro de Agendamento (Supabase)\n\nApós sucesso no registraAgendamento:\n\nRegistrar:\n\nNome\n\nTelefone\n\nData (Start)\n\nNunca registrar se falhar o agendamento.\n\nFLUXO DE EXECUÇÃO — AGENDAMENTO\n\n1️⃣ Receber dados do Agente A\n2️⃣ Validar confirmação do cliente\n\nSe não confirmado → retornar erro\n\n3️⃣ Extrair Start e End\n4️⃣ Chamar verificaAgendamento\n\nSE HORÁRIO OCUPADO\n\nRetornar:\n\n{\n\"status\": \"ocupado\",\n\"Start\": \"...\",\n\"End\": \"...\"\n}\n\nNão sugerir alternativas.\n\nSE HORÁRIO LIVRE\n\nExecutar registraAgendamento\n\nExecutar Registro de Agendamento\n\nRetornar:\n\n{\n\"status\": \"confirmado\",\n\"Start\": \"...\",\n\"End\": \"...\"\n}\n\nFLUXO DE CANCELAMENTO\n\n1️⃣ Confirmar data recebida\n2️⃣ Executar deletaAgendamento\n3️⃣ Retornar:\n\n{\n\"status\": \"cancelado\",\n\"Start\": \"...\",\n\"End\": \"...\"\n}\n\nTRATAMENTO DE ERROS\n\nSe não conseguir extrair data:\n\n{\n\"status\": \"erro\",\n\"motivo\": \"data_invalida\"\n}\n\nSe ferramenta falhar:\n\n{\n\"status\": \"erro\",\n\"motivo\": \"falha_ferramenta\"\n}\n\nNunca retornar texto solto.\nSempre retornar JSON estruturado.\n\nREGRAS ABSOLUTAS\n\nNunca:\n\nConversar socialmente\n\nCumprimentar cliente\n\nUsar emojis\n\nExplicar processo\n\nInventar horário\n\nRegistrar sem verificar\n\nConfirmar sem confirmação explícita\n\nVocê é estritamente operacional.\n\nPRIORIDADE MÁXIMA\n\nPrecisão > velocidade\nSegurança > suposição\nAgenda correta > qualquer outra coisa",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1920,
        4672
      ],
      "id": "972ca65d-c478-43c9-8565-faac98cd7a46",
      "name": "agendamento"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2000,
        4464
      ],
      "id": "3153c526-500e-4015-ab5e-8c308fe75e9d",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2528,
        4896
      ],
      "id": "446f6fb6-973f-477e-ba6a-e3cdfc15954d",
      "name": "Calculator-1"
    },
    {
      "parameters": {
        "tableId": "Coversas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "Data",
              "fieldValue": "={{ $fromAI('fieldValues1_Field_Value', `data do agendamento do cliente`, 'string') }}"
            },
            {
              "fieldId": "Cliente",
              "fieldValue": "={{ $fromAI('fieldValues2_Field_Value', `nome do cliente`, 'string') }}"
            },
            {
              "fieldId": "Telefone",
              "fieldValue": "={{ $fromAI('fieldValues3_Field_Value', `numero de telefone do cliente`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2384,
        4896
      ],
      "id": "b11b6f2c-27f2-4acf-9572-507723b72a8d",
      "name": "Registro de Agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "yXymLQvodK8UFlXI",
          "name": "registro de conversas"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "kauabrdoze@gmail.com",
          "mode": "list",
          "cachedResultName": "teste da barbearia"
        },
        "start": "={{ $fromAI('Start', `Horário que o usuário escolheu com o agente de IA\n`, 'string') }}",
        "end": "={{ $fromAI('End', `1 hora após o horário de inicio que o usuário escolheu com o agente de IA`, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2048,
        4880
      ],
      "id": "da20abf2-7301-498d-8073-58ea8b9785b3",
      "name": "registra Agendamento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XlOXsKFcsSE2qoWS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "kauabrdoze@gmail.com",
          "mode": "list",
          "cachedResultName": "teste da barbearia"
        },
        "timeMin": "={{ $fromAI('After', `mostre todos os eventos apartir de agora`, 'string') }}",
        "timeMax": "={{ $fromAI('Before', `mostre todos os eventos até daqui 7 dias`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2224,
        4880
      ],
      "id": "322f5c38-748e-4372-980c-d6ccf04447ec",
      "name": "verifica Agendamento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XlOXsKFcsSE2qoWS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "1ba949778555722e5d3b6cf516eb707dc98b5b9dba97052beada7510a33f2116@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "teste n8n barbearia"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1872,
        4880
      ],
      "id": "3c50370d-95a9-4dd2-a5bc-48e2b7ada2ec",
      "name": "deleta Agendamento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XlOXsKFcsSE2qoWS",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "estrutura tudo1": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Obter m dia em base": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "recuperar buffer de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem final1": {
      "main": [
        [
          {
            "node": "estrutura tudo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "solicitação de midia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoria1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Memory Block1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "estrutura tudo1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "agendamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "preparar resposta do agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unico resultado - usado para testes": {
      "main": [
        [
          {
            "node": "limpar buffer temporario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RATE LIMIT - Increment": {
      "main": [
        [
          {
            "node": "mensagem enviada pelo bot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ativar bloqueio temporario": {
      "main": [
        [
          {
            "node": "Prepare Memory Block1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar bloqueio temporario": {
      "main": [
        [
          {
            "node": "Prepare Memory Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bloqueio temporario existe?": {
      "main": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Armazenar mensagem no buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazenar mensagem no buffer": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recuperar buffer de mensagens": {
      "main": [
        [
          {
            "node": "if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if": {
      "main": [
        [
          {
            "node": "Unico resultado - usado para testes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpar buffer temporario": {
      "main": [
        [
          {
            "node": "mensagem final1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "solicitação de midia?": {
      "main": [
        [
          {
            "node": "definir arquivo de midia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir arquivo de midia": {
      "main": [
        [
          {
            "node": "timer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Imagem": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download": {
      "main": [
        [
          {
            "node": "Mensagem da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem da imagem": {
      "main": [
        [
          {
            "node": "Enviar Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "timer": {
      "main": [
        [
          {
            "node": "Google Drive Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set Audio Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio Message": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "RATE LIMIT - Increment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text Message": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Text Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem enviada pelo bot?": {
      "main": [
        [
          {
            "node": "ativar bloqueio temporario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "consultar bloqueio temporario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Memory Message": {
      "main": [
        [
          {
            "node": "bloqueio temporario existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preparar resposta do agente": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator-1": {
      "ai_tool": [
        [
          {
            "node": "agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registro de Agendamento": {
      "ai_tool": [
        [
          {
            "node": "agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registra Agendamento": {
      "ai_tool": [
        [
          {
            "node": "agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "verifica Agendamento": {
      "ai_tool": [
        [
          {
            "node": "agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "deleta Agendamento": {
      "ai_tool": [
        [
          {
            "node": "agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "scgHI7DFzrj6gUwX"
  },
  "versionId": "275f299f-c577-4184-ae7a-ae7d935c550b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9319e5623492d72ec8b72914d6d7dde2aa2764c8cae38c05c9d202565feae49a"
  },
  "id": "scgHI7DFzrj6gUwX",
  "tags": [
    {
      "updatedAt": "2026-02-04T18:35:55.939Z",
      "createdAt": "2026-02-04T18:35:55.939Z",
      "id": "rtUb1EZh9gK5nwuG",
      "name": "projetos do git"
    }
  ]
}